body {
  background-color: slateblue;
  color: black;
}

header{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 0px 2px white;
  border: 1px solid black;
  box-shadow: 0px 0px 11px 6px white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
section{
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 0px 0px 11px 6px white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
section h2{
  text-align: center;
}
#ravintolalista table{
  margin: 0 auto;
  background-color: white;
}
#ravintolalista table th, td{
  padding: 3px;
  border:1px solid black;
}
thead{
  background-color: aquamarine;
}
